<div data-controller="address-autocomplete" data-address-autocomplete-api-key-value=<%=ENV["MAPBOX_API_KEY"]%>>
<%= f.text_field :address,
  {data: {address_autocomplete_target: "address"}, class: "d-none"}
%>
</div>
