<div class="faq-container">
  <h2>Frequently Asked Questions</h2>

  <% # Loop over each FAQ if they are dynamic from the database %>
  <% @faqs.each do |faq| %>
    <div class="faq">
      <div class="faq-question">
        <h3><%= faq.question %></h3>
      </div>
      <div class="faq-answer">
        <p><%= faq.answer %></p>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'faq' %>
