<div class="d-flex flex-column justify-content-center width: 75%;">

  <div class="d-flex justify-content-center py-5  max-width: 100%;">
    <h1>Let's adopt a virtual pet!</h1>
  </div>
  <%= simple_form_for @pet, defaults: { label: false } do |f| %>
  <div class="d-flex justify-content-around p-2">
    <i class="fa-solid fa-circle-plus"></i>
    <h5> Choose your pet: </h5>
    <%= f.input_field :species, as: :radio_buttons, collection: [['0', 'Dog'], ['1', 'Cat']], label_method: :second, value_method: :first %>
  </div>

  <div class="d-flex justify-content-around p-2">
    <i class="fa-solid fa-circle-plus"></i>
    <h5> Choose a name: </h5>
    <%= f.input :name,
    error: 'A name is mandatory, please specify one',
    input_html: { maxlength: 20 } %>
  </div>

  <div class="d-flex justify-content-center py-5">
    <button class="btn btn-outline-dark"><%= f.button :submit %></button>
  </div>
  <% end %>
</div>
