<div class="page-content d-flex mb-2">
<div class="page-title ">
<h3 class=>FAQ</h3>
  <p>We are committed to helping you find answers to your questions, so we've compiled the questions that we most frequently receive.</p>

</div>
<div class="page-image">
 <%= image_tag "donate.jpeg", width: 300 %>

</div>
</div>
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        How can I adopt a pet from the Furry Friend ?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
        Thank you for opening your heart to a pet! Visit our Adopt section for information on adopting Furry Friend dogs and cats in all over the word.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        How can I contact Furry Fiend Member Support?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        Member Support can be reached at<strong> +34 654 654 654 </strong>,but please review the FAQs below to see if the information you're looking for has been addressed.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        How can I find information and resources for shelter professional?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
       Furry Friends can help you . </div>
    </div>
  </div>
</div>
