.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 70%;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),asset-url('chatBG.jpg');
    background-size: cover;

  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.chatroom-main-container {
  gap: 3%;
  background-image: image-url("chatroombg.png");
  background-size: cover;
}

.sidebar {
  background-color: #ffffff;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  width: 25%;

  .sidebar-content {
    height: calc(100vh - 75px);
    justify-content: space-between;
  }
}

textarea.form-control{
  padding:32px;

  border-radius: 20px;

}

.message-box{
  margin-right:40px;
  border-radius: 20px;
  padding: 32px;
}

.sidebar-top{
  display:flex;
  flex-direction: column;
}

.messages-box{
  border-radius: 20px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}
