.page-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container-dashboard{
  flex-grow: 1;
  background-image:image-url("BG.jpg");
  background-size: fill;
  font-family: 'Montserrat';
}

.container{
 width: 2000px;
 padding: 20px;
}

.title{
  text-align: center;
  padding: 20px;
}

.user-greeting{
  display: flex;
  position: relative;
  justify-content: center;

}
.avatar-box{
  position: relative;
}

.avatar-dashboard{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px;
  object-fit: fill;
}

.avatar-form{
  position:absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: #1f1d1d3f 0px 0px 10px 0px;
}

.profile-pic-icon{
  text-decoration: none;
  color:#e47c05;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 4px;
  right: 2px;
}

.update-button{
  // position: absolute;
  text-decoration: none;
}

.container-first{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  padding-left: 0px;
  align-items: center;
}

.your-pet{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 160px;
  margin: 0 auto;
  padding-right: 10px;
}

.pet-picture{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 10px;
  object-fit: cover;
}

.pet-stats{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pet-status{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: none;
}

#petDropdown{
  color:#1f1d1d;
  padding: 10px 20px;
  font-size: 24px;
  text-decoration: none;
}

.status-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;

  p {
    margin: 0;
  }
}

.donut {
	display: flex;
	align-items: center;
	justify-content: center;
  text-align: center;
	width: 115px;
	height: 115px;
	border-radius: 50%;
}

.donut__gap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	background: #fff;
	border-radius: 50%;

  & .p{
    justify-content: center;
  }
}

#satisfaction-circle{
  width: 140px;
  height: 140px;
  margin: 10px;

  #satisfaction-gap{
    width: 120px;
    height: 120px;
  }
}

.message {
  display: flex;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  max-width: 464px;
  max-height: 280px;
  text-align: center;

  h3{
    padding: 10px;
    font-size: 20px;
  }

}

.container-second{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.rank-table{
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  margin-right: 10px;
  width: 800px;

  h2{
    padding: 10px;
    font-size: 24px;
    border-bottom: #6363631e solid;

  }

  th{
    border-bottom: #6363631e solid;
    padding: 4px;
  }
}

.cards-right{
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  max-width: 280px;
  border: none;
  margin: 8px;
}

.card-icon {
  margin: 10px;
  font-size: 40px;
  color: #e45e05;
  padding: 8px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: bold;
  color: #333;
  font-size: 20px;
}

.history{
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  max-height: 250px;
}
