.overview-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-bottom: 30px;
  color: #333;

}
.card-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.card-icon {
  font-size: 48px;
  color: rgb(42, 41, 41)
}
