.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
border-radius: 20px;
padding: 16px;
background: #FDC354;
background: linear-gradient(135deg, #7D56FE, #A047FA);
  color: rgb(255, 255, 255); /* Text color for sender messages */
  align-self: flex-end; /* Align sender messages to the right */
}

.receiver-style {
  border-radius: 20px;
  padding: 16px;
  background-color: #EAEFF5;
  color:rgb(32, 32, 32);
  align-self: flex-start; /* Align receiver messages to the left */
}

.btn{
  border-radius: 24px;
 }
