.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.219);
}

.navbar-menu {
  display:flex;
  margin-right: 10px;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand .navbar-item {
  font-weight: bold;
  color: #333;
  text-decoration: none;
  width: 600px;
}



.navbar-item input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  width: 300px;
}


.navbar-item a {
  text-decoration: none;
  padding: 5px 10px;
  margin: 0px 10px;
}

.search-button, a.search-button {
  background-color: #333;
  display: inline-block;
  color: white;
  border: none;
  padding: 5px 10px;
}
textarea, input {
  padding:10px;
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}
