.secondary-button {
  display: inline-block;
  padding: 8px 16px;
  margin: 0 4px 4px 0;
  border: 2px solid #080808;
  background-color: #080808;
  border-radius: 50px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Monttserat";
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  height: 40px;
  width: 100px;
}

.secondary-button:hover {
  border-color: rgba(255, 255, 255, 1);
}
