.tertiary-button {
  display: inline-block;
  padding: 8px 16px;
  margin: 0 4px 4px 0;
  border: 2px solid rgb(7, 7, 7);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(7, 7, 7);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  a {
    text-decoration: none;
  }
}

.modal-footer.tertiary-button a {
  text-decoration: none;
}
