[role="tooltip"],
.hidetooltip.hidetooltip.hidetooltip + [role="tooltip"] {
  visibility: hidden;
  position: absolute;
  min-width: 64px;
  z-index: 20;
  white-space: nowrap;
  top: 16px;
  left: 5px;
  background: black;
  color: white;
}
[aria-describedby]:hover, [aria-describedby]:focus {
  visibility: visible;
}
[aria-describedby]:hover + [role="tooltip"], [aria-describedby]:focus + [role="tooltip"] {
  visibility: visible;
}
